<launch>
    <arg name="rviz" default="false"/>
    <arg name="gazebo_gui" default="false"/> 
    <include file="$(find gvozdev_pkg)/launch/turtlebot3_world.launch">
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
    </include>
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find gvozdev_pkg)/rviz/sim_start.rviz"/>
    <include file="$(find gvozdev_pkg)/launch/turtlebot3_slam.launch"/> 
</launch>
