<launch>
    
    <arg name="gazebo_gui" default="false"/> 
    <include file="$(find gvozdev_pkg)/launch/turtlebot3_slam.launch"/> 
    <include file="$(find gvozdev_pkg)/launch/move_base.launch"/>
    <include file="$(find gvozdev_pkg)/launch/turtlebot3_world.launch">
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
    </include>
    <include file="$(find gvozdev_pkg)/launch/turtlebot3_teleop_key.launch"/>
    
</launch>

    
