<launch>
    <arg name="rviz" default="false"/>
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find gvozdev_pkg)/rviz/sim_start.rviz"/>
    <include file="$(find gvozdev_pkg)/launch/turtlebot3_my_gmapping.launch"/> 
    <include file="$(find gvozdev_pkg)/launch/turtlebot3_move_base.launch"/>
    <include file="$(find gvozdev_pkg)/launch/turtlebot3_sim_start.launch"/>
    
</launch>
